Source: ros-testing-joy-linux
Section: misc
Priority: optional
Maintainer: Chris Lalancette <clalancette@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-testing-ament-cmake, ros-testing-ament-lint-auto, ros-testing-ament-lint-common, ros-testing-rclcpp, ros-testing-sensor-msgs, ros-testing-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-testing-joy-linux
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-testing-rclcpp, ros-testing-sensor-msgs, ros-testing-ros-workspace
Description: ROS2 driver for a generic Linux joystick.
 Will contain a MacOS and Windows version later. The joy package contains joy_node, a node that interfaces a generic Linux joystick to ROS2. This node publishes a &quot;Joy&quot; message, which contains the current state of each one of the joystick's buttons and axes.
